<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h2>Component</h2>

    <div id="components">
        <button-counter></button-counter>
    </div>


    

    <div id="blog">
        <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:title="post.title"
        ></blog-post>
    </div>


    <h2>Рефакторинг компонента</h2>

    <div id="blog-2">
        <blog-post-2
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
        ></blog-post-2>
    </div>

    <h2>Прослушивание событий в дочерних компонентах</h2>

    <div id="blog-posts-events-demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
          <blog-post-3
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
            v-on:enlarge-text="postFontSize += 0.1"
          ></blog-post-3>
        </div>
    </div>

    <h2>Передача данных вместе с событием</h2>

    <div id="blog-4">
        <div :style="{ fontSize: postFontSize + 'em' }">
          <blog-post-4
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
            v-on:enlarge-text="onEnlargeText"
          ></blog-post-4>
        </div>
    </div>

    
<script src="https://unpkg.com/vue"></script>
<script src="js/component.js"></script>

</body>
</html>