<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h2>Условная отрисовка</h2>

    <p>v-if</p>

    <div id="app-1">
        <h1 v-if="awesome">Vue восхитителен!</h1>
        <h1 v-else>О, нет</h1>
    </div>

    <p>v-else</p>

    <div id="app-2">
        <h1 v-if="awesome">Vue восхитителен!</h1>
        <h1 v-else>О, нет</h1>
    </div>

    <p>v-else-if</p>

    <div id="app-3">

        <div v-if=" type === 'A' ">
            A
        </div>

        <div v-else-if=" type === 'B' ">
            B
        </div>

        <div v-else-if=" type === 'C' ">
            C
        </div>

        <div v-else>
            Не A/B/C
        </div>

    </div>

    
    

<script src="https://unpkg.com/vue"></script>
<script src="js/conditional_rendering.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

</body>
</html>